@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    padding: 0;
    margin: 0;
}


body{
    background-color:#141414;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/*
.custom-bg{
    background-color: #353831;
}
*/
/*

.img{
    padding-top: 10px;
    padding-left: 150px;
    padding-bottom:15px;
}
.p{
    color: #ada5a5;
    padding-left: 950px;
    margin-bottom: 10px;
    position: absolute;
    top:30px;
    
}

.p a{
    color: #ada5a5;
    text-decoration: none;

}
.p a:hover{
    color: #a3d14d;
}

.img2{
    height:500px;
    width:100%;
    margin-top:0px;
    display: block;
}
*/


.header-text p {
    color: #fff;
    text-align: end;
}

.header-text p a{
    color: #fff;
    text-decoration: none;
}

.image-container img{
    width:100%;
    height:auto!important;
    display:block;
}
.bg-img{
     background-image: url("./imgs/banner-graphics-min.jpg");
    width: 100%;
  height:500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
    
}

::placeholder {
    color:darkslategrey;
}

.navbar-expand-lg .navbar-nav .nav-link:hover{
    color: #64cd64 !important;
}

.navbar-toggler{
    border: 1px solid #ffffffb5;
    padding: 0.25rem 0.75rem;
}

.nav-link{
    font-size: 14px;
    color: aliceblue;
}

/*
.form control{
    border: 0px solid #ced4da !important;
}
*/


/*.service-card{
    padding: 0px 70px;
}*/

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  padding:0 10px;    
}

.card-content{
    background-color: #7a6f6f59;
    color: #b1a9a0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 15px;
    font-size: 13px;
    position: relative
}

.card-content img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
    bottom: 0;
}

.card-bg-style{
    position: relative;
}

.card-bg-style::before {
    content: "";
    position: absolute;
    background-color: #ffffff52;
    backdrop-filter: blur(3px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    opacity: 0.5;
}

.card-cardcontent{
    position: relative;
    z-index: 9999;
    height: 100%;
    display: grid;
    place-content: center;
}

.card-cardcontent h2{
    padding: 1rem;
    border: 2px solid #090909;
    color: #1a1a1a;
}

.card-content h2{
    font-family: "Open Sans", sans-serif;
}







@media only screen and (max-width: 550px) {
  .wrapper {
    grid-template-columns: repeat(1, 1fr);
/*
    padding-right:0px;
      margin-right: 10px;
*/
  }
}


@media screen and (max-width: 991px) and (min-width: 551px){
     .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
 
 


@media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse {
    justify-content: center;
}
}



h5{
    color: aliceblue;
}
h5 a{
    color:aliceblue;
    text-decoration:none;
}
h5 a:hover{
    color:aliceblue;
}

li a{
    color:darkgray;
    text-decoration: none;
}
li a:hover{
    color: antiquewhite !important;
}





